
  <h2 id="about-title">About </h2>

<div class="about">
  <div class="me">
    <div>
      <img class="profile-pic" src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/vmb87l47rvatbv0gmliy.jpg" alt="">
    </div>
    <div class="paragraph">
      <p>I grew up in Piddington, a small town near Bicester. I've moved around a bit since then but now my family and I currently live in Thame, Oxfordshire. As you may have seen by the banner, I enjoy watching films, running, hanging out with friends and of course, coding!</p>
    </div>
  </div>


    <div class="lewagon">
      <div class="lewagoninfo">
        <p>From July-September 2018, I was a student at le Wagon London(Batch 173). It's a 9-week intensive coding bootcamp teaching HTML, CSS, Bootstrap, JavaScript ES2015, SQL, git, GitHub, Heroku and Ruby on Rails. The last few weeks are very project based and, in a team, we designed, implemented and shipped to production a clone of AirBnB and a Rails prototype called Gimme Shelter. </p>
      </div>
      <div>
        <img class="profile-pic" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/1692/s300/le-wagon-logo.png" alt="">
      </div>
    </div>
</div>

   <div class="last">
      <div>
        <img class="profile-pic" src="https://www.text100.com/wp-content/uploads/2015/04/codingfeatured.jpg" alt="">
      </div>
      <div class="lastparagraph">
        <p>I'm now looking to start a career in web development. I would like to focus on full stack, so I can continue to increase my current knowledge and keep things fresh in my mind. Location wouldnt be an issue as I'd be open to move/travel to places near Oxford/London. I'm excited to see where i go next!</p>
      </div>
    </div>
</div>




<div class="skills">
 <h2 id="skills-title">Skills </h2>


  <div class="ruby-rails-html">
    <div>
      <h3>Ruby</h3>
        <img class="star" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Breezeicons-apps-32-preferences-desktop-default-applications.svg/240px-Breezeicons-apps-32-preferences-desktop-default-applications.svg.png" alt="">
        <img class="star"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Breezeicons-apps-32-preferences-desktop-default-applications.svg/240px-Breezeicons-apps-32-preferences-desktop-default-applications.svg.png" alt="">
       <img class="star"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Breezeicons-apps-32-preferences-desktop-default-applications.svg/240px-Breezeicons-apps-32-preferences-desktop-default-applications.svg.png" alt="">
    </div>


     <div>
      <h3>Ruby on Rails</h3>
        <img class="star" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Breezeicons-apps-32-preferences-desktop-default-applications.svg/240px-Breezeicons-apps-32-preferences-desktop-default-applications.svg.png" alt="">
        <img class="star"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Breezeicons-apps-32-preferences-desktop-default-applications.svg/240px-Breezeicons-apps-32-preferences-desktop-default-applications.svg.png" alt="">
       <img class="star"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Breezeicons-apps-32-preferences-desktop-default-applications.svg/240px-Breezeicons-apps-32-preferences-desktop-default-applications.svg.png" alt="">
    </div>

     <div>
        <h3>HTML</h3>
          <img class="star" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Breezeicons-apps-32-preferences-desktop-default-applications.svg/240px-Breezeicons-apps-32-preferences-desktop-default-applications.svg.png" alt="">
          <img class="star"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Breezeicons-apps-32-preferences-desktop-default-applications.svg/240px-Breezeicons-apps-32-preferences-desktop-default-applications.svg.png" alt="">
         <img class="star"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Breezeicons-apps-32-preferences-desktop-default-applications.svg/240px-Breezeicons-apps-32-preferences-desktop-default-applications.svg.png" alt="">
      </div>

</div>
  <div class="html-javascript">
    <div>
      <h3>CSS</h3>
        <img class="star" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Breezeicons-apps-32-preferences-desktop-default-applications.svg/240px-Breezeicons-apps-32-preferences-desktop-default-applications.svg.png" alt="">
        <img class="star"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Breezeicons-apps-32-preferences-desktop-default-applications.svg/240px-Breezeicons-apps-32-preferences-desktop-default-applications.svg.png" alt="">
       <img class="star"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Breezeicons-apps-32-preferences-desktop-default-applications.svg/240px-Breezeicons-apps-32-preferences-desktop-default-applications.svg.png" alt="">
    </div>


     <div>
      <h3 class="java">Javascript</h3>
        <img class="star" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Breezeicons-apps-32-preferences-desktop-default-applications.svg/240px-Breezeicons-apps-32-preferences-desktop-default-applications.svg.png" alt="">
        <img class="star"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Breezeicons-apps-32-preferences-desktop-default-applications.svg/240px-Breezeicons-apps-32-preferences-desktop-default-applications.svg.png" alt="">
    </div>
</div>
</div>

<div
  id="map"
  style="width: 100%;
  height: 200px;"
  data-markers="<%= @markers.to_json %>"
></div>



<div class="social">
  <h2 id="social-title">Contact</h2>

  <div class="all-socials">
    <div>
      <a href="https://www.facebook.com/ben.herring.79"  target="_blank"><img class="connect" src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8c/Facebook_Home_logo_old.svg/1024px-Facebook_Home_logo_old.svg.png" alt=""></a>
    </div>
    <div>
      <a href="https://www.instagram.com/ben_herring1/?hl=en"  target="_blank"><img class="connect" src="https://d1afx9quaogywf.cloudfront.net/sites/default/files/Logos/Instagram-v051916_0.png" alt=""></a>
    </div>
    <div>
      <a href="https://www.linkedin.com/in/ben-herring-56baa216a/"  target="_blank"><img class="connect" src="https://www.drupal.org/files/project-images/linkedin_circle_logo.png" alt=""></a>
    </div>
    <div>
      <a href="https://github.com/Herring123"  target="_blank"><img class="connect" src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png" alt="">
    </div></a>
  </div>





</div>
















