
.top{
  // text-align: center;
position: fixed;
top: 15px;
border-bottom: 2px solid white;
transition: 0.5s background-color ease;
// width:100%;
}


.top ul {
// left:395px;

display:flex;
justify-content:center;
list-style-type: none;
padding:0;
font-family:'Raleway', sans-serif;
}

.item{
  padding:0 20px;

}


.top a{
  text-decoration:none;
  color:white;
}

.top a:hover{
  color:#0075A2;
}

.top-white{
 color:#0075A2;
 border-bottom: 2px solid #0075A2;
 border-left: 2px solid #0075A2;
 border-right: 2px solid #0075A2;
 background-color: white;
 margin-top: -15px;
 z-index:1;
 padding-top:23px;
 width:100%;
 a{
   color:#0075A2;
 }
 a:hover{
  color:#3ABEFF;
 }
}
