
.top{
  // text-align: center;
position: fixed;
top: 15px;

}


.top ul {
// left:395px;
display:flex;
list-style-type: none;
padding:0;
font-family:'Raleway', sans-serif;
}

.item{
  padding:0 20px;

}


